<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 引入properties文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 扫描注解 -->
	<context:component-scan base-package="com.aaa.service,com.aaa.dao"></context:component-scan>
	<!-- 启用注解 -->
	<context:annotation-config></context:annotation-config>
	
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${uname}"></property>
		<property name="password" value="${pwd}"></property>
		<property name="initialSize" value="10"></property>
		<property name="maxActive" value="20"></property>
	</bean>
	<!-- mybatis -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:com/aaa/mapper/*.xml"></property>
		<!-- 别名 -->
		<property name="typeAliasesPackage" value="com.aaa.entity"></property>
	</bean>	
	
	<!-- mybatis扫描注解配置 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.aaa.dao"></property>
	</bean>
	
	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
	</bean>
	
	<!-- 事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>